<mat-card class="example-card">
  <mat-card-header fxLayout="row" class="cardId">
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-card-subtitle>{{ summary }} </mat-card-subtitle>
    <div fxFlex></div>
    <button mat-icon-button (click)="expand()">
      <mat-icon class="mat-24">{{ icon }}</mat-icon>
    </button>
  </mat-card-header>
  {{ formInfo | json }}
  <h2 *ngIf="expanded">DYNAMIC FORM</h2>
  <ng-template #dynamicFormsComponent> </ng-template> 
  <mat-card-content *ngIf="expanded"> 
      <p>{{ content }}</p>  
 
  </mat-card-content>
</mat-card>
