@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.example-card {
    width: 50vw;
    margin-bottom:10px;
    margin-top:10px;
    left:25%;
}
.cardId {
    justify-content: space-between;
}