<mat-card>
  <div class="detail-card-header">
    <button
      mat-flat-button
      [mat-dialog-close]="data.contentData"
      cdkFocusInitial
    >
      <mat-icon>chevron_left</mat-icon>
    </button>

    <mat-card-header>
      <mat-card-title>{{ title }} </mat-card-title>
      <mat-card-subtitle>Summary </mat-card-subtitle>
      {{ dataResult }}
    </mat-card-header>
  </div>

  <mat-card-content>
    <h4>{{ content }}</h4>

    <ng-template #formscontainer></ng-template>
  </mat-card-content>
</mat-card>
